---
interface Props {
    title?: string;
    url: string
    year: string
}
const {title, url, year} = Astro.props;
---
<figure class="sm:my-4 my-1">
    <img class="sm:rounded-3xl rounded-xl " src={url} alt={title} title={title} height="" width="">
    <figcaption class="text-center">
        <span>{title}</span> <span>{year}</span>
    </figcaption>
</figure>
